h2{
    color: #787878;
    font-size: 44px;
    font-family: Tahoma;
    text-align: center;
}
h3{
    color: red;
    font-size: 35px;
    font-family: Tahoma;
    text-align: center;

}
p{
    color: darkgreen;
    text-align: center;
    font-size: 15px;
    font-family: Tahoma;
}
h4{
    font-size: 30px;
    font-family: Tahoma;
    color: #ffb72b;
    text-align: center;
}

.GİKL{
    color: blueviolet;
    font-size: 13px;
    font-family:Tahoma;
    text-align: center ;
    list-style-position: inside;
    
}